body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  background-color: #1f2326;
  color: #ffffff;
  font-family: Roboto Slab;
  font-style: normal;
}

.yellowBtn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 36px;
  position: absolute;
  width: 338px;
  height: 46px;
  left: 81px;
  top: 309px;
  background: #f9be00;
  border-radius: 20px;
  color: #1f2326;
  font-weight: 900;
}
